<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
</head>
<body>
<ul>
    <li>第一（这里格式错误，已经修改完成）版本</li>
    <li>第二（这里有一个bug）版本</li>
    <li>第三版本</li>
    <li>日常开发操作，此次预计用时30天，目前第十五天</li>
    <li>此时出现了bug</li>
    <li>澳门首家赌场，已经开发了部分</li>
    <li>澳门首家赌场上线</li>
    <li>青云志项目开发了一半</li>
    <li>青云志项目开发完毕</li>

</ul>

</body>
</html>